/*主体外层盒子*/
@import "~@/styles/variables.scss";
@import "~@/styles/mixin.scss";
#app{
    font-family: 'sans-serif',"Helvetica Neue",'Helvetica',"PingFang SC","Hiragino Sans GB",'Arial';
}
#app .sidebar-container .sinkYbg .is-active > .el-submenu__title{
    @include setsinkActive('default');
}
li{ list-style: none;}
.el-tooltip__popper.is-dark{
    opacity: 0 !important;
}
.el-menu--vertical{
    .nest-menu{
        @include setBgColor('default');
        .el-menu-item span{
            @include setsinkFont('default');
        }
    }
}
.sinkYbg{
    //动态皮肤 背景颜色
    @include setBgColor('default');
    @include setsinkFont('default');
    .el-menu{
        .el-menu-item,.el-submenu__title{
            @include setBgColor('default');
            @include setsinkFont('default');
        }
        .is-active.el-menu-item{
            @include setsinkActive('default');
        }
        .el-menu-item{
            span{
                @include setsinkFont('default');
            }
        }
        .router-link-active .el-menu-item.is-active{
            span{
                @include setsinkActive('default');
            }
        }
    }
    .content,.table-head{
        @include setBgColor('default');
    }
    .el-input__inner,.el-range-input,.el-textarea__inner{
        @include setBgColor('default');
        @include setsinkFont('default');
    }
    .el-range-separator{
        @include setsinkFont('default');
    }
    .skinBkTags{
        background: rgba(24,144,255,0.18) !important;
        @include setSkinTags('default');
        border: none !important;
    }
    .el-divider__text,.el-radio-button__inner{
        @include setBgColor('default');
        @include setsinkFont('default');
    }
    .is-active .el-radio-button__inner{
        background-color: #1890ff !important;
        color: white !important;
    }
    .special .list .header{
        background-color: rgba(161, 163, 168, 0.1);
        .item span{
            @include setsinkFont('default');
        }
    }
}
.navbar{
    @include navbarShadow('default');
}
.el-picker-panel,.el-picker-panel__footer{
    @include setBgColor('default');
    border: none;
}
.table-body .el-loading-mask{
    @include setBgColor('default');
}
.Y-Tabs{
    .el-tabs__item{
        @include setsinkFont('default');
    }
}
.Y-ylChart{
    svg text{
        color: red;
    }
}
.sinkYft{
    //动态皮肤 背景颜色
    @include setsinkFont('default');
}
.sinkYbft{
    @include setBtText('default');
}
.skinBtn{
    //动态皮肤 按钮大小及颜色
    @include setsinkBtn('default');
}
.skinBorder{
    @include setSinkBorder('default');
}
.skinAcBorder{
    @include setsinkActive('default');
}

.el-form{
    .el-form-item.is-error{
        .el-input__inner{
            border: 1px solid red !important;
        }
    }
    .el-form-item{
        .el-form-item__label{
            text-align: left;
            @include setsinkFont('default');
        }
        .el-input__inner,.el-range-input{
            @include setBgColor('default');
            @include setsinkFont('default');
        }
        .el-form-item__content{
            .el-button--text{
                @include setBtText('default');
            }
        }
    }
} 
.product-detail{
    .el-form .el-form-item .el-form-item__label{
        padding-left: 12px;
    }
}
.el-timeline-item__content{
     @include setsinkFont('default');
}
.previewChart{
    @include setBg2Color('default');
}

.el-dialog{
    @include setBgColor('default');
    .el-dialog__header{
        .el-dialog__title{
            @include setsinkFont('default');
        }
    }
}
.width100{
    width: 100%;
}
.diyModel{
    .el-dialog{
//      border-radius: 6px;
        .el-dialog__header{
            padding: 0;
            line-height: 56px;
            border-bottom: 1px solid #EEEEEE;
            padding-left: 12px;     
            .el-dialog__title{
                @include setsinkFont('default');
            }
        }
        .el-dialog__body{
            padding: 12px 18px;
        }
    }
    .btmBtns{
        padding: 12px 0;
    }
    .btmBtns .el-button{
        padding: 0 12px;
        line-height: 30px;
    }
}

.el-input__inner,.el-tree-node__content,.el-tree{
        @include setBgColor('default');
        @include setsinkFont('default');
        .el-tree-node.is-current > .el-tree-node__content{
           @include setsinkActive('default');
        }
    }
.noBg .el-input__inner{
    background: none !important;
}
.el-table .el-table__row td:last-child{
    .cell{
        .el-button--text{
            @include setBtText('default');
            margin-left: 0;
            padding:0 5px;
            border-right: 1px solid #DCDFE6;
            line-height: 16px;
        }
        .el-button--text:first-child{
            padding-left: 0;
        }
        .el-button--text:last-child{
            border: none;
        }
    
    }
}
.isLookHtb td .htAutocompleteArrow{
    opacity: 0;
}
//滚动条样式
::-webkit-scrollbar {  
    width: 4px;    
    height: 8px;
    background-color: #fff;  
}  

/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {  
    background-color: #E0E0E0;  
}  

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb{  
    border-radius: 5px;  
    background-color: #B9B9B9;
}  
/*定义最上方和最下方的按钮*/
::-webkit-scrollbar-button{
     background-color: none;
}

.Y-mainBox {
    padding: 20px;
    min-height: calc(100vh - 50px);
    .Y-htmlBody{
        @include setBgColor('default');
        padding: 16px;
        background-color: #fff;
    }
}


//el-cascader 样式
.el-popper{
    @include setBgColor('default');
    @include setSinkBorder('default');
    .el-cascader-node__label{
        @include setsinkFont('default');
    }
    .el-select-dropdown__item.selected{
        background: none !important;
        span{
            @include setsinkActive('default');
        }
    }
    .el-select-dropdown__item span{
        @include setsinkFont('default');
    }
    .el-picker-panel__icon-btn{
        @include setsinkFont('default');
    }
}

.login .login-right .login-form .el-input__inner{
    background: none !important;
}
.el-tabs{
    .el-tabs__item{
        @include setsinkFont('default');
    }
    .el-tabs__item.is-active{
        @include setsinkActive('default');
    }
}
.el-date-table{
//  td div{
//      @include setBgColor('default');
//  }
    td.disabled div{
        @include disableColor('default');
    }
} 
.el-loading-mask{
    //加载蒙版样式
    background: none;
}
/*公共表格头部及表格样式start*/

.el-table th.is-leaf{
    @include setTbcolor('default');
}
.el-table th.is-leaf, .el-table td{
    @include setSinkBorder('default');
}
.el-table--border th, .el-table--border td{
    @include setSinkBorder('default');
}
.el-table--group, .el-table--border{
    @include setSinkBorder('default');
}
.el-table--group::after, .el-table--border::after, .el-table::before{
    background: none;
}
.el-input__inner{
    @include setSinkBorder('default');
} 
.el-table{
    @include setBgColor('default');
    .el-table__header {
        width: 100% !important;
        th{
            height: 48px;
            padding: 0;
        }
    }
    tr {
        background: none;
        th,td{
            padding: 0;
            text-align: left;
            @include setBgColor('default');
            @include setsinkFont('default');
            height: 48px;
            line-height: 48px;
            .cell{
                background: none;
            }
        }
    }
    .el-table__body {
        width: 100% !important;
    }
    .el-table__row:hover td{
        @include setsinkHover('default');
    }
    .el-table__empty-block{
        @include setBgColor('default');
        @include setsinkFont('default');
    }
    .el-table__fixed-right::before{
        @include setBgColor('default');
    }
    .tbRowImg{
        width: 36px;
        height: 36px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    .rowIcon{
        width: 36px;
        height: 36px;
    }
}
.el-pagination{
    .el-input__inner,.el-pagination__jump,.el-pagination__total{
        @include setBgColor('default');
        @include setsinkFont('default');
    }
    .el-pager{
        .number{
            @include setBgColor('default');
            @include setsinkFont('default');
        }
        .number:hover{
            @include setsinkHover('default');
        }
        .number.active{
            color: #1890ff !important;
        }
        .el-icon.more{
            background: none !important;
            @include setsinkFont('default');
        }
    }
    .btn-next,.btn-prev{
        @include setBgColor('default');
        @include setsinkFont('default');
    }
    .btn-prev:hover{
        @include setsinkHover('default');
    }
    .btn-next:hover{
        @include setsinkHover('default');
    }
}
.wdp0Warp .withDivider{
    padding: 0;
}
.table-pagination{
    padding: 12px 0;
}
.tx_left{
    text-align: left;
}
.tx_right{
    text-align: right;
}
.tx_center{
    text-align: center;
}
.txGray{
    font-size: 12px;
    color: gray;
}
.partTitle{
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0;
    @include setTtColor('default');
}
.tab-Top{
    padding: 14px 0;
    .tabQueryItem {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        margin: 14px 20px 14px 0;
        .lableText {
            font-size: 14px;
            display: inline-block;
            font-weight: 700;
            color: #606266;
            margin-right: 12px;
            text-align: right;
        }
        .queryInput {
            display: inline-block;
            .el-select__caret {
                line-height: 32px;
            }
        }
        .el-input__inner {
            opacity: 1;
            line-height: 32px;
            height: 32px !important;
        }
        
    }
    .tabQueryItem.selectTime .el-input__inner {
        width: 288px !important;
        .el-range__icon,.el-range-separator{
            line-height: 24px !important;
        }
    }
    .btnIcon {
        width: 14px;
        vertical-align: text-top;
        margin: 0px 6px;
    }

}
.eventBtn {
    display: inline-block;
    .el-button {
        margin: 0 6px;
    }
    .el-button:first-child{
        margin-left: 0;
    }
    .y_btns{
        border: none;
        line-height: 30px;
        width: auto;
        margin-right: 0;
        @include setBtText('default');
        padding: 0;
        margin: 0;
        background: none;
        span{
            border-right: 1px solid #DCDFE6;
            padding: 0;
            line-height: 16px;
            height: 16px;
            vertical-align: middle;
            display: inline-block;
            padding: 0 6px;
        }
    }
    .y_btns:first-child span{
        padding-left: 0;
    }
    .y_btns:last-child span{
        border: none;
    }
    .more_ybtn{
        padding: 0;
        padding-left: 6px;
        position: relative;
        top: 1px;
        @include setBtText('default');
    }
}

/*时间选择部分*/






/*.table-body tbody tr:nth-child(even){
    background: #f4f6fb;
}*/
.el-table .el-table__body tr.current-row > td{
    @include tbRowActive('default');
}


/*公共表格头部及表格样式end*/

/*excel表格公用样式*/
.excelHtml{
//  background: white;
    .celTopBtns{
        font-size: 14px;
//      background: white;
        padding: 0px 8px;
        .backIcon{
            color: #000;
            font-size: 18px;
            margin-right: 12px;
            .el-icon-back{
                border-right: 1px solid #DCDFE6;
                line-height: 14px;
                padding-right: 6px;
            }
        }
        .tbName{
            width: 188px;
        }
        .evnts{
            background: #3668E4;
            color: white;
            position: relative;
            top: -4px;
        }
        .evnts.is-disabled{
            background: #999999;
        }
    }
    .excel.handsontable{
        border: 1px solid #d3d3d3;
    }
}
.evnts.readbtn {
    min-width: 100px;
}
.isReading .evnts.readbtn{
    background: #fbf8be;
    color: #797979;
}
.zydWarp{
    .el-pagination__total,.el-pagination__sizes,.el-pagination__jump{
        display: none !important;
    }
}
.product-detail .body .el-form{
    //产品集市/新增设备  样式调整
    max-height:680px;
    overflow-y: auto;
    padding-bottom: 0;
}
.hideCheck{
    .el-checkbox__inner{
        display: none;
    }
    
    .el-checkbox__input.is-disabled + span.el-checkbox__label{
        color: #1890ff;
    }
} 
.partCter .edition2{
    .el-tabs__content{
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
}

